streamlit~=1.38.0
langchain~=0.3.0
langchain-google-genai~=2.0.0
langchain-openai~=0.2.0
langchain-community~=0.3.0
langchain-core~=0.3.5
pandas~=2.2.3
numpy~=1.26.4
python-dotenv
langchain_community
pypdf
bs4
arxiv
jupyter
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
seaborn
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchain_google_genai
langserve
sse_starlette
matplotlib
ipympl
ipywidgets
scikit-learn
nltk
